﻿body { }

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.ImgContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.ImgContainer SPAN {
    display: block;
    word-wrap: break-word;
}

.selected { border: 2px double red; }


img { /*max-width: 100%;*/
    /*width: 154px;*/
    border: 2px double white;
}